
.dropdown {
    position: relative;
}

.dropdown .input-container {
    min-height: 2em;
    width: 30em;
    border: 1px solid var(--border-color);
    background-color: var(--light-secondary-color);
    display: flex;
    flex-wrap: wrap;
}

.dropdown .input-container .info {
    background-color: var(--main-color);
    color: var(--light-secondary-color);
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 2px;
    white-space: nowrap;
    display: flex; 
    vertical-align: middle; 
    line-height: normal;
    padding: 4px;

    line-height: 1.1;
}

.dropdown .input-container .info.add {
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: pointer;
}

.dropdown .input-container .info .action {
    border: none;
    background: none;
    color: var(--light-secondary-color);
    padding: 0;
    cursor: pointer;
}

.dropdown .input-container .info > :not(:last-child) {
    margin-right: 0.5em;
}

.dropdown .input-container .info .action svg path {
    fill: var(--secondary-color);
}

.dropdown .input-container .selected .action:hover svg path {
    fill: var(--light-secondary-color);
}

.dropdown .input-container .info .action.add svg path {
    fill: var(--light-main-color);
}

.dropdown .input-container .info .action.add:hover svg path {
    fill: var(--main-color);
}

.dropdown .input-container .input {
    height: 100%;
    padding: 0.5em;

    border: 0;
    flex: 1;
}

.dropdown .data {
    position: absolute;
    /* TODO: Decide how to set offset */
    /* top: 2em; */
    left: 0;
    width: 30em;
    border: 1px solid var(--border-color);
    border-top: 0;
    max-height: 20em;
    overflow-y: auto;
}

.dropdown .data > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}

.dropdown .data > :not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.dropdown .data > :hover {
    background-color: var(--background-color);
    color: var(--hover-text-color);
}

.dropdown .data .avatar {
    padding-right: 1em;
}
.dropdown .data .avatar svg {
    width: 30px;
    height: 30px;    
    border: 1px solid transparent;
    border-radius: 10em;
    background-color: var(--background-color);
}

.dropdown .data .info {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.dropdown .data .info .full-name {
    color: var(--main-color);
    font-weight: bold;
}
